#chessboard {
	position:absolute;
	z-index:0;
}

#chesspieces {
	position:absolute;
	z-index:2;
}

#highlight {
	position:absolute;
	z-index:1;
}

#board { 
	border: 2px solid black;
	height: inherit;
	margin-left: 25px;
	overflow: auto;		/* prevent canvas from being pushed out of the border */
	position: relative; 
	width: 600px;
}

#boardAndInfo {
	overflow: visible;
	height: 600px;
	position: relative;
	width: auto;
}

fieldset > * {
	margin-bottom: 2px;
	margin-top: 2px;
}

fieldset legend {	/* override styles for children*/
	color: black;
	margin: 0;
}

#freeplayInfo {
	/*display: none;*/
	/* margin-top: 600px; */
	margin-left: 635px;
	position: absolute;
	height: 585px;
	width: 300px;
	
}

#freeplayPieces {
	border: 2px solid gray;
	font-size: 200%;
	height: 400px;
	overflow: auto;
}

#gameArea { /* the container for all componenets related to the game */
	width: 650px;
}

#gameInfo [type=button] {
	display: table-cell;
	width: 100%;
}

#gameInfo {
	display: none;
	margin-left: 635px;
	padding-bottom: 0.75em;
	position: absolute;
	width: 200px;
}

#fileNotation {
	color: gray;
	font-size: 2.0em;
	margin-left: 50px;	/* space before first letter */
	letter-spacing: 54px; /* align letters over tiles */
}

#promotion {
	display: none;
	padding: 0;
	text-align: center;
}

#promotion label {
	display: block;
	font-size: 4em;
}

#promoteOptions {
	display: table;
	margin: auto;
	width: 100%;
}

#promoteOptions div {
	display: table-cell;
}

#rankNotation {
	color: gray;
	float: left;
	font-size: 2.0em;
	line-height: 240%;
	position: absolute;
	width: 0px;		/* width can be any amount and is just used so text moves to the next line */
	word-wrap: break-word;
}

#turn {
	visibility: hidden;
	font-size: 2.5em;
	margin-bottom: 10px;
	margin-top: 0;
	text-align: center;
}

.fill {
	display: table-cell;
	width: 100%; 
}

:focus {	/* prevent chrome from putting a misshapen highlight on the dialog box close button */
	outline: none;
}
ol {	/* override defaults */
	margin:0;
	margin-left: .5em; /* prevent numbers from running out of their container */
}