#chessboard {
	border:1px solid #000000;
	position:absolute;
	left:10px;
	top:75px;
	z-index:0;
}

#chesspieces {
	border:1px solid #000000;
	position:absolute;
	left:10px;
	top:75px;
	z-index:2;
}

#highlight {
	border:1px solid #000000;
	position:absolute;
	left:10px;
	top:75px;
	z-index:1;
}